/* ==========================================================================
   Responsive
   ========================================================================== */

@media (max-width: 900px) {
	#bio {
		.bio-item {
			width: 100%;
			.image-color {
				display: block; // Don't wait for hover on mobile
			}
			.description {
				-webkit-transform: translate3d(0,100%,0);
			}
		}
	}
}

@media (max-width: 600px) {
	#bio {
		.bio-item {
			padding: 15px 0;
		}
		.description {
			display: none;
		}
	}
	#quote {
		font-size: 30px;
	}
	#footer {
		.half {
			width: 100%;
		}
		.right {
			text-align: left;
			margin-top: 10px;
			border-top: 1px solid white;
			padding-top: 10px;
		}
	}

	h1 {
		font-size: 40px;
	}
}